/*                       STYLE                       */

/* COLOR THEMES */
.color-theme-day {
  --color-background-1: #6694cc;
  --color-background-2: #c4edf7;
  --color-background-3: #f7f7f7;
  
  --color-gray: #b5b5b5;
  --color-white: #ffffff;
  
  --font-color-1: #000000;
  --font-color-2: #808080;
  --font-color-3: #ffffff;
  
  --color-shadow: #808080;
  --color-header-detail-1: #80b9ff;
  --color-photo-detail-1: #73739b80;
  --button-dark-detail: #000000;
}

.color-theme-night {
  --color-background-1: #19304d;
  --color-background-2: #0e5567;
  --color-background-3: #1e1e24;
  
  --color-gray: #525252;
  --color-white: hsl(0, 0%, 10%);
  
  --font-color-1: #ffffff;
  --font-color-2: #999999;
  --font-color-3: #808080;
  
  
  --color-shadow: #808080;
  --color-header-detail-1: #103b70;
  --color-photo-detail-1: #ffffff80;
  --button-dark-detail: #000000;
}

/* BACKGROUND + BORDER */
#root-react {
  background: var(--color-background-1);
  background: linear-gradient(to bottom, var(--color-background-2), var(--color-background-1));
}

.app-header > div {
  background: var(--color-background-1);
}

.app-nav {
  background: var(--color-white);
  background: linear-gradient(270deg, var(--color-gray) 0%, var(--color-white) 10%, var(--color-white) 90%, var(--color-gray) 100%);
  border-top: 8px solid var(--color-header-detail-1);
  border-bottom: 1.3px solid var(--color-gray);
}

.nav-menu-style > div {
  background: var(--color-white);
  border: 1.3px solid var(--color-gray);
}

.app-aside {
  background: var(--color-background-3);
  border-top: 1.3px solid var(--color-gray);
}

.main-section-style {
  background: var(--color-background-3);
}

.main-section-style-content {
  padding: 2vmin;
  border-radius: 12px;
  background: var(--color-white);
  border: 1.2px solid var(--color-gray);
}

/*    LINK    */
a {
  text-decoration: none;
  color: var(--font-color-1);
}

.top-link-style {
  border-radius: 25px;
  padding: 1vmin 0;
  margin-bottom: 8px;
  width: 96.33%;
  background: var(--color-background-3);
}

/*    TEXT    */
.text-x-large {
  font-size: x-large;
}

.text-large {
  font-size: large;
}

.title-line {
  border-bottom: 1.5px solid var(--color-gray);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/*    LIST    */
.remove-bullet-list {
  margin-bottom: 0px;
  list-style-type: none;
}

/*    BUTTON    */
.buttons {
  cursor: pointer;
  padding: 3px 5px;
  color: var(--font-color-1);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray);
}

.nav-buttons {
  cursor: pointer;
  padding: 1px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  background: none;
  border: none;
  color: var(--font-color-1);
}

/*    ARROWS    */
.nav-arrow {
  margin-left: 8px;
  height: 5px;
  width: 5px;
  top: 5px;
  position: relative;
  border: 1.5px solid var(--font-color-1);
  border-top: hidden;
  border-left: hidden;
}
.nav-arrow.menu-close {
  transform: rotate(405deg);
  transition: transform 300ms ease-in-out;
}
.nav-arrow.menu-open {
  transform: rotate(45deg);
  transition: transform 300ms ease-in-out;
}

.nav-arrow.down-arrow {
  transform: rotate(45deg);
}
.nav-arrow.up-arrow {
  transform: rotate(225deg);
}

/*    TITLE    */
#website-title {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: .85em;
  letter-spacing: .1em;
  width: 12em;
  cursor: default;
  pointer-events: none;
}

/*    LOGO    */
.augium-web-icon {
  width: 3em;
  margin: 0px 10px;
}

/* PROFILE IMAGE */
.profile-photo {
  border-radius: 50%;
  position: relative;
  width: 180px;
  padding: 1px;
  margin-top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-photo-detail-1);
  border: 1px solid var(--color-photo-detail-1);
  -moz-box-shadow: 0 -1px 1px 1px var(--color-photo-detail-1);
  -webkit-box-shadow: 0 -1px 1px 1px var(--color-photo-detail-1);
  box-shadow: 0 -1px 1px 1px var(--color-photo-detail-1);
}

/*                       LAYOUT                       */
* {
  --header-height: 60px;
  --nav-height: 20px;
  --below-header: calc(var(--header-height) + var(--nav-height) + 33px);
}

/*    HEADER    */
.app-header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0%;
}

.app-header > div {
  display: grid;
  align-items: center;
  grid-template-columns: .4fr 10fr 2fr;
  font-size: .9em;
  height: var(--header-height);
}

/*    NAVIGATION    */
.app-nav {
  padding: 8px 0px 3px 0px;
  font-size: .9em;
  align-items: center;
  flex-wrap: nowrap;
  height: var(--nav-height);
}

.nav-buttons {
  padding: 3px 0px;
}

.nav-menu-style > div {
  z-index: -1;
  position: absolute;
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  white-space: nowrap;
}

.menu-close > div {
  top: -100%;
  transition: top 300ms ease-in;
}

.menu-open > div {
  top: 99%;
  transition: top 300ms ease-out;
}

.scroll-track-bar {
  z-index: 1;
  height: 3px;
  margin: 0px;
  background: var(--color-gray);
}

/* ASIDE + MAIN */
.app-aside {
  border-radius: 2vmin 2vmin 0vmin 0vmin;
  padding: 2vw;
  margin-top: var(--below-header);
}

main section {
  padding: 0vw 2vw;
}

.carousel-item {
  padding: 0vmin 3vmin 3vmin 3vmin;
}

.main-section-style {
  padding-top: 8px;
  margin-bottom: 8px;
}
#main-section-style-last {
  margin-bottom: 0px;
}

.aside-main {
  display: grid;
  margin: 0px 10px 10px 10px;
  color: var(--font-color-1);
}

/* FOOTER */
.app-footer {
  font-size: .9em;
  color: var(--font-color-1);
}

.app-footer-link-grid {
  line-height: 2;
  padding-left: 8px;
  justify-content: space-around;
}

.app-footer ul {
  padding: 0px;
}

.app-footer ul li {
  list-style: none;
  padding: 0px;
}

/* GENERIC */
.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.border-left {
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 1.5rem;
  border-left: 1px solid var(--color-gray);
  -moz-box-shadow: -5px 0px 4px -5px var(--color-gray);
  -webkit-box-shadow: -5px 0px 4px -5px var(--color-gray);
  box-shadow: -5px 0px 4px -5px var(--color-gray);
}

.cursor-pointer {
  cursor: pointer;
}

/*                       MODALS                       */
.modal {
  position: fixed;
  z-index: -1;
}

.modal-container-open {
  z-index: 3;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background: #00000060;
}

.modal-content-open {
  top: 25%;
  padding: 10vmin 14vmin 20vmin 14vmin;
  text-align: center;
  background: var(--color-background-3);
  border: 1.3px solid var(--button-dark-detail);
  color: var(--font-color-1);
}

/*                       QUIERIES(INTERACTIVITY)                       */

/* laptop */
@media(hover: hover) and (pointer: fine) {
  .buttons:hover {
    background-color: var(--color-gray);
  }
  .dark-button:hover {
    background-color: var(--button-dark-detail);
    color: var(--font-color-3);
  }
  .link-desat:hover {
    transition: all 100ms ease;
    color: var(--font-color-2);
  }
  .link-highlight:hover {
    transition: all 100ms ease;
    color: var(--font-color-3);
  }
  .top-link-style:hover {
    background: var(--color-gray);
  }
  .hover-effect:hover {
    -moz-box-box-shadow: 0px 0px 3px .1px var(--color-shadow);
     -webkit-box-shadow: 0px 0px 3px .1px var(--color-shadow);
             box-shadow: 0px 0px 1px 1px var(--color-shadow);
  }
}

/*                       QUIERIES(RESPONSIVITY)                       */
@media(min-width: 768px) {
  .app-main {
    margin-top: var(--below-header);
  }
  .main-section-style {
    border-radius: 10px;
  }
  .app-aside {
    border-radius: 10px;
    border: 0px;
  }
  .aside-main {
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    border-bottom: 0px;
  }
  .carousel-container {
    width: 100%;
  }
  .top-link-style {
    width: 98.80%;
    margin: 0px 2px 8px 2px;
  }
  .section-lists div {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
  }
  .exp-list {
    width: 40vw;
  }
  .profile-photo {
    width: 23vw;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .profile-photo {
    margin-left: 0px;
  }
  .border-left {
    margin-top: 10px;
    margin-left: 0px;
  }
  .shadow-behind {
    -moz-box-box-shadow: 0px 0px 3px .1px var(--color-shadow);
     -webkit-box-shadow: 0px 0px 3px .1px var(--color-shadow);
             box-shadow: 0px 0px 3px .1px var(--color-shadow);
  }
  /* Carousel */
  .carousel-container {
    --wide: 100%;
    overflow: hidden;
  }
  .projects-carousel {
    position: relative;
    transition: right 400ms ease-in;
    width: calc(3 * var(--wide));
    display: flex;
    justify-content: space-evenly;
  }
  .carousel-item {
    width: var(--wide);
    padding: 3vmin;
    border-radius: 50px;
    background: var(--color-white);
    border: 1.3px solid var(--color-gray);
  }
  .carPos0 {
    right: calc(0 * var(--wide));
    background-color: var(--color-gray);
  }
  .carPos1 {
    right: calc(1 * var(--wide));
    background-color: var(--color-gray);
  }
  .carPos2 {
    right: calc(2 * var(--wide));
    background-color: var(--color-gray);
  }
  .carButs button {
    width: calc(30% / 3);
    margin: 15px 5px;
  }
}

@media(min-width: 1251px) {
  .profile-photo {
    width: 300px;
  }
}