.App {
  background: rgb(230, 230, 230);
  height: 100%;
}

#augium {
  margin: 10px 16px 10px 8px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 50%);
}


/* HEADER */

.app-header {
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 75px;
}


/* NAV */

/* .app-nav {
  background: rgb(245, 245, 245);
  padding: 5px;
  margin-bottom: 16px;
}

.nav-links a {
  margin-right: 10vw;
} */


/* ASIDE */

.app-aside {
  background: rgb(230, 230, 230);
  padding: 5px;
}


/* MAIN */

.app-main {
  background: rgb(245, 245, 245);
  padding: 5px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

#aside-main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}


/* FOOTER */

.app-footer {
  background: rgb(230, 230, 230);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px;
}

.app-footer ul {
  padding: 0px;
}

.app-footer ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* QUERIES */

@media(min-width: 880px) {
  .App {
    padding-bottom: 60px;
  }
  .app-main {
    margin-bottom: 0px;
  }
  #aside-main {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 1em;
    margin: 16px;
  }
  .section-lists div {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
  }
  .app-aside {
    background: rgb(245, 245, 245);
  }
}