.App {
  background: rgb(230, 230, 230);
  /* text-align: center; */
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hsl(0, 0%, 50%);
}

h4 {
  margin: 0px 0px;
}

.app-footer ul {
  padding: 0px;
}

.app-footer ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.app-header {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 75px;
}

.app-nav {
  background: rgb(245, 245, 245);
  padding: 5px;
  margin-bottom: 16px;
}

.nav-links a {
  margin-right: 10vw;
}

.app-aside {
  background: rgb(245, 245, 245);
  padding: 5px;
}

.app-main {
  background: rgb(245, 245, 245);
  padding: 5px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.app-footer {
  background: rgb(230, 230, 230);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px;
}

#augium {
  margin: 10px 16px 10px 8px;
}

@media(min-width: 365) {

}

/* @media(min-width: 576px) {

} */

@media(min-width: 777px) {
  .app-main {
    margin-bottom: 0px;
    /* order: 2; */
  }
  #aside-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
    margin: 16px;
  }
  .section-lists div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
}